---
import Layout from '../layouts/Layout.astro';
import VideoHero from '../sections/VideoHero.astro'
---

<Layout title="IQEA Ingenieria" description="Iqea es una compania :D">
	<main>
		<VideoHero/>
	</main>
</Layout>

<style>
	main {
		/* max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6; */
	}
</style>
