<section class="projects">
  <div class="header">
    <h2>
      PROYECTOS IQEA
    </h2>
    <p class="text-muted">Cada proyecto se adapta a las necesidades específicas de la región y se ejecuta con una visión de sostenibilidad a largo plazo. Nuestra experiencia abarca desde tecnologías avanzadas de filtración hasta métodos de tratamiento de última generación, asegurando que cada solución sea eficiente, efectiva y respetuosa con el medio ambiente.</p>

  </div>
</section>
