---
import StatsCard from "../components/StatsCard.astro";
import stats_1 from "../assets/stats/stats1.svg";
import stats_2 from "../assets/stats/stats2.svg";
import stats_3 from "../assets/stats/stats3.svg";
---

<section class="stats">
  <StatsCard image={stats_1.src} title="asdf" body="asdfasdf" />
</section>

<style>
  .stats {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 320px;
    width: 100vw;
    background-color: var(--SecondaryBgColor);
    clip-path: polygon(
      2% 90%,
      0% 100%,
      0% 0%,
      2% 10%,
      4% 0%,
      6% 10%,
      8% 0%,
      10% 10%,
      12% 0%,
      14% 10%,
      16% 0%,
      18% 10%,
      20% 0%,
      22% 10%,
      24% 0%,
      26% 10%,
      28% 0%,
      30% 10%,
      32% 0%,
      34% 10%,
      36% 0%,
      38% 10%,
      40% 0%,
      42% 10%,
      44% 0%,
      46% 10%,
      48% 0%,
      50% 10%,
      52% 0%,
      54% 10%,
      56% 0%,
      58% 10%,
      60% 0%,
      62% 10%,
      64% 0%,
      66% 10%,
      68% 0%,
      70% 10%,
      72% 0%,
      74% 10%,
      76% 0%,
      78% 10%,
      80% 0%,
      82% 10%,
      84% 0%,
      86% 10%,
      88% 0%,
      90% 10%,
      92% 0%,
      94% 10%,
      96% 0%,
      98% 10%,
      100% 0%,

      100% 100%,
      98% 90%,
      96% 100%,
      94% 90%,
      92% 100%,
      90% 90%,
      88% 100%,
      86% 90%,
      84% 100%,
      82% 90%,
      80% 100%,
      78% 90%,
      76% 100%,
      74% 90%,
      72% 100%,
      70% 90%,
      68% 100%,
      66% 90%,
      64% 100%,
      62% 90%,
      60% 100%,
      58% 90%,
      56% 100%,
      54% 90%,
      52% 100%,
      50% 90%,
      48% 100%,
      46% 90%,
      44% 100%,
      42% 90%,
      40% 100%,
      38% 90%,
      36% 100%,
      34% 90%,
      32% 100%,
      30% 90%,
      28% 100%,
      26% 90%,
      24% 100%,
      22% 90%,
      20% 100%,
      18% 90%,
      16% 100%,
      14% 90%,
      12% 100%,
      10% 90%,
      8% 100%,
      6% 90%,
      4% 100%
    );
  }
</style>
